<%provide(:title, 'Create User')%>

<h1>Create a new user</h1>


<div class="row">
	<div class="span6 offset0">
		<div class="hero-unit">
		<%= form_for(@user) do |f| %>
		
		<%= render 'shared/error_messages' %>	<!--Partial function defined in views/shared directory by convention-->

		<%= f.label :first_name %>
		<%= f.text_field :first_name %>

		<%= f.label :last_name %>
		<%= f.text_field :last_name %>

		<%= f.label :username %>
		<%= f.text_field :username %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :role %>
		
		<!-- I need to restrict Admin and Super Creation to  Super Admin only (not even sure we should have more than 1 super) -->

		<%= f.select :role, [['Normal','normal'],['Author','author'],['Admin','admin'],['Super Admin','super']]%>  

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
		
		<br />
		<%= f.submit "Create a new user", class: "btn btn-small btn-primary" %>
		
		<% end %>
		</div>
	</div>
</div>
